<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Upcoming TV Show Premieres</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.css">
    <link rel="stylesheet" href="styles/main.css">
    
  </head>
  <body data-ng-app="tvpremieres" data-ng-controller="MainController">
    <script type="text/ng-template" id="qtip.html">
        <div>{{text}}</div> 
    </script>

    <div class="container">
        <header>
            <img src="images/tv-header.png">
            <h1>Upcoming TV Show Premieres</h1>
        </header>
        
        <div class="sort-toggle"></div>
        <div class="sortbar-container">
            <div class="sortbar">
                <div class="sort">
                    <img src="images/sort-icon.png" alt="Sort">
                    <div>        
                        <input type="radio" value="date" data-ng-model="sortBy" id="sort-date">
                        <label for=sort-date>Date</label>
                        <input type="radio" value="title" data-ng-model="sortBy" id="sort-title">
                        <label for=sort-title>Title</label>
                    </div>
                </div>
                <div class="filter">
                    <img src="images/filter-icon.png" alt="Filter">
                    <div>
                        <!-- <span>Genre</span>  -->
                        <select data-ng-model="genreFilter" data-ng-options="genre for genre in availableGenres">
                            <option value="">-- Genre --</option>
                        </select>
                         <!-- <span>Network</span>  -->
                        <select data-ng-model="networkFilter" data-ng-options="network for network in availableNetworks | orderBy:network">
                            <option value="">-- Network --</option>
                        </select> 
                        <input type="checkbox" value="series_premieres" id="sort-premieres" data-ng-model="filter_series_premieres"><span id="sort-premieres-text"><label for=sort-premieres>Series Premieres</span>
                    </div>
                </div>
                <div class="search">
                    <img src="images/search-icon.png" alt="Search">
                    <input type="text" data-ng-model="searchText" />
                </div>
            </div>
        </div>
        
        <div class="table-container">
            <table id="showsList">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Network</th>
                    <th>Genres</th>
                    <th>Airtime</th>
                    <th>Season</th>
                    <th>More Info</th>
                </tr>

                <tr ng-repeat="tvshow in filteredtvshows = (tvshows | orderBy:sortOrder | genres:genreFilter | networks:networkFilter | seriespremiere:filter_series_premieres | filter:searchText | limitTo:paginationLimit())" ng-cloak>
                    <td><span class="show-title">{{ tvshow.show.title }}<span> <br><a href="#" class="show-overview" qtip="tvshow.show.overview">Overview</a></td>
                    <td>{{ tvshow.episode.date }}</td>
                    <td>{{ tvshow.show.network }}</td>
                    <td>
                        <ul>
                            <li data-ng-repeat="genre in tvshow.show.genres" class="genre">{{genre}}</li>
                        </ul>
                    </td>
                    <td>{{ tvshow.show.airdate }} <br /> {{ tvshow.show.airtime }}</td>
                    <td>{{ tvshow.episode.season }}</td>
                    <td>
                        <ul id="more-info-list">
                            <li data-ng-show="tvshow.show.trailer"><a href="{{tvshow.show.trailer}}" target="_blank">View Trailer</a><li>
                            <li data-ng-show="tvshow.show.ids.slug"><a href="http://trakt.tv/shows/{{tvshow.show.ids.slug}}" target="_blank">TraktTV</a><li>
                            <li data-ng-show="tvshow.show.ids.imdb"><a href="http://www.imdb.com/title/{{tvshow.show.ids.imdb}}" target="_blank">IMDB</a><li>
                            <li data-ng-show="tvshow.show.ids.tvrage"><a href="http://www.tvrage.com/shows/id-{{tvshow.show.ids.tvrage}}" target="_blank">TVRage</a><li>
                        </ul>
                    </td>
                </tr>                
            </table>
            <div id="loading"><img src="images/loading.gif" /></div>
            <button class="view-more" ng-show="hasMoreItemsToShow() && contentLoaded" ng-click="showMoreItems()" ng-cloak>View More</button>
        </div>
    </div>

    <script src="scripts/lib/jquery-2.1.1.min.js"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.js"></script>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/lib/ui-utils.js"></script>
    <script src="scripts/lib/angular-cookies.js"></script>
    <script src="scripts/lib/angular-resource.js"></script>
    <script src="scripts/lib/angular-sanitize.js"></script>
    <script src="scripts/lib/angular-route.js"></script>
    <script src="scripts/lib/moment.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

</body>
</html>
